<div class="mb-5">
  @if (label) {
  <label
    [for]="id"
    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
    >{{ label }}</label
  >
  }

  <div class="flex">
    <input
      [type]="passwordVisible ? 'text' : 'password'"
      [id]="id"

      [ngClass]="{
        'bg-red-50 border border-red-500 text-red-900 rounded-s-md focus:ring-red-500 focus:border-red-500 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500': isInvalid(),
        'bg-gray-50 border border-gray-300 text-gray-900 rounded-s-md focus:ring-blue-500 focus:border-blue-500 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500': !isInvalid()
      }"
      class="text-sm rounded  w-full p-2.5 dark:bg-gray-700"
      (input)="handleInputChange($event)"
      [placeholder]="placeholder"
      [value]="value"
      [disabled]="disabled"
    />
    <!-- rounded-lg block -->

    @if(showButton) {
      <span
      class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border border-e-0 border-gray-300 rounded-e-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600 cursor-pointer"
      (click)="togglePasswordVisibility()"
    >
      <fa-icon [icon]="passwordVisible ? faEyeSlash : faEye"></fa-icon>
    </span>
    }

  </div>
  @if(isInvalid()) {
    @if(controlErrors && controlErrors['required']) {
      <ng-container>
        <p class="mt-2 text-sm text-red-600 dark:text-red-500">
          @if(validationsDictionary && validationsDictionary.required) {
            {{ validationsDictionary.required }}
          } @else {
            El campo es requerido
          }
        </p>
      </ng-container>
    }

    @if(controlErrors && controlErrors['pattern']) {
      <ng-container>
        <p class="mt-2 text-sm text-red-600 dark:text-red-500">
          @if(validationsDictionary && validationsDictionary.pattern) {
            {{ validationsDictionary.pattern  }}
          } @else {
            El campo no cumple con el patrón.
          }
        </p>
      </ng-container>
    }
  }
</div>
