<div class="mb-5">
  @if (label) {
    <label
      [for]="id"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >{{ label }}
    </label>
  }
  <input
    [type]="type"
    [id]="id"
    [ngClass]="{
      'bg-red-50 border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500': isInvalid(),
      'bg-gray-50 border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 dark:text-white dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500': !isInvalid()
    }"
    class="text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700"
    (input)="handleInputChange($event)"
    [placeholder]="placeholder"
    [value]="value"
    [disabled]="disabled"
  />

  @if(isInvalid()) {
    @if(controlErrors && controlErrors['required']) {
      <ng-container>
        <p class="mt-2 text-sm text-red-600 dark:text-red-500">
          @if(validationsDictionary && validationsDictionary.required) {
            {{ validationsDictionary.required }}
          } @else {
            El campo es requerido
          }
        </p>
      </ng-container>
    }

    @if(controlErrors && controlErrors['pattern']) {
      <ng-container>
        <p class="mt-2 text-sm text-red-600 dark:text-red-500">
          @if(validationsDictionary && validationsDictionary.pattern) {
            {{ validationsDictionary.pattern  }}
          } @else {
            El campo no cumple con el patrón.
          }
        </p>
      </ng-container>
    }
  }
</div>
